
<footer class="bg-light text-white p-2 bg-dark align-item-end mt-2">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-4">
                <h5>Confidosoft</h5>
                <p>Some information about Products, Users and Cities.</p>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <address>
                    Email: info@example.com<br>
                    Phone: +1 123-456-7890
                </address>
            </div>
        </div>
    </div>
</footer>