
<footer class="bg-light  p-2 bg-gray align-item-end mt-5">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-4">
                <h5>XYZ</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <address>
                    Email: info@example.com<br>
                    Phone: 123456789
                </address>
            </div>
        </div>
    </div>
</footer>