<app-search (onchangedEmit)="onChange($event)"></app-search>
<h1>{{ searchText }}</h1>


<ng-template>

</ng-template>
<div class="table-responsive my-3 mx-5">
    <table class="table table-stripped table-bordered">
        <thead>
            <tr>
                <th>User-id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>City</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            <ng-container *ngFor="let ele of users">
                <tr *ngIf="ele.name.toLowerCase().indexOf(searchText.toLowerCase()) !== -1">
                    <td>{{ele.id}}</td>
                    <td>{{ele.name | lowercase }}</td>
                    <td>{{ele.email}}</td>
                    <td>{{ele.age}}</td>
                    <td>{{ele.city}}</td>
                    <td><div class="text-center"><button class="btn btn-primary" (click)="onClick(ele)"> detail</button></div></td>
                </tr>

            </ng-container>
        </tbody>
    </table>
</div>