
<div class="container my-4  ">
    <div class="row">
        <h1  class="text-center">Product Detail</h1>
    </div>
    <form class="row g-3  border rounded-2 my-2 " (ngSubmit)="onformSubmitted()" #registrationForm="ngForm">
        <div class="container my-3">
        <div class="row justify-content-between">
        <div class="col-md-3 ">
          <label  class="form-label">User-id </label>
          <input type="number" class="form-control"  name="productid" ngModel required  #inputid="ngModel">
          <small  *ngIf="inputid.invalid && inputid.touched">*Product-id is a required field</small>
        </div>
        
        <div class="col-md-3">
          <label  class="form-label">Name</label>
          <input type="text" class="form-control"   name="name" ngModel required #inputname="ngModel">
          <small  *ngIf="inputname.invalid && inputname.touched">*User-Name is a required field</small>
        </div>
        
        <div class="col-md-3 ">
            <label  class="form-label">Price</label>
            <input type="number" class="form-control"   name="price" ngModel required #inputprice="ngModel">
            <small  *ngIf="inputprice.invalid && inputprice.touched">*Price is a required field</small>
        </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <label  class="form-label">Category</label>
            <input type="text" class="form-control"   name="category" ngModel required  #inputcategory="ngModel">
            <small  *ngIf="inputcategory.invalid && inputcategory.touched">*Categoryis a required field</small>
        </div>
        <div class="col-md-5">
            <label  class="form-label">Stock</label>
            <input type="number" class="form-control"  name="stock" ngModel required #inputstock="ngModel">
            <small  *ngIf="inputstock.invalid && inputstock.touched">*Stock is a required field</small>
        </div>
    
    </div> 
        <div class="col-12 text-center my-4">
          <button class="btn btn-primary " type="submit"  [disabled]="registrationForm.invalid" >Submit form</button>
        </div>
      </form>
</div>


