<app-search (onchangedEmit)="onChange($event)"></app-search>


<div class="table-responsive my-3 mx-5"> 
<table class="table table-stripped table-bordered">
    <thead>
        <tr>
            <th>City-id</th>
            <th>Name</th>
            <th>Country</th>
            <th>Population</th>
            <th>Timezone</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        <ng-container *ngFor="let ele of cities">
            <tr *ngIf="ele.name.toLowerCase().indexOf(searchText.toLowerCase()) !== -1">
            <td>{{ele.id}}</td>
            <td>{{ele.name}}</td>
            <td>{{ele.country}}</td>
            <td>{{ele.population}}</td>
            <td>{{ele.timezone}}</td>
            <td><div class="text-center"><button class="btn btn-primary" (click)="onClick(ele)">detail</button></div></td>
        </tr>
        </ng-container>
               
    </tbody>
</table>
</div>