<app-search (onchangedEmit)="onChange($event)"></app-search>
<div class="table-responsive my-3 mx-5">
    <table class="table table-stripped table-bordered">
        <thead>
            <tr>
                <th>Product-id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Stock</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let ele of products">
                <tr *ngIf="ele.name.toLowerCase().indexOf(searchText.toLowerCase()) !== -1">
                    <td>{{ele.id}}</td>
                    <td>{{ele.name}}</td>
                    <td>{{ele.price}}</td>
                    <td>{{ele.category}}</td>
                    <td>{{ele.stock}}</td>
                    <td><div class="text-center"><button class="btn btn-primary" (click)="onClick(ele)">detail</button></div></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>